<h1>Ads#index</h1>
<p>Find me in app/views/ads/index.html.erb</p>

<div>
  <ul>
    <% @ads.each do |ad| %>
      <li>
        <%= ad.title %>
        <%= ad.description %>
        <%= ad.price %>
      </li>
    <% end %>
  </ul>
</div>
