<div class="main-container">
  <div class="filter-container">
    <h3>Your search</h3>
    <p> X products found </p>
  </div>
  <div id="ads">
    <h1> <a href=""><i class="fa fa-star"></i></a> Best results for you</h1>
    <div class="row">
      <% @ads.each do |ad| %>
      <%= link_to ad_path(ad) do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-description">
            <%= ad.title %>
            <%= ad.price %>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>



