.modal h1 {
  font-size: 30px;
}
.modal h2 {
  font-size: 28px;
}
.modal h1, h2 {
  color: $green;
}
.modal p {
  color: $gray;
  font-size: 14px;
}
.main-container {
  display: flex;
}
#ads h1 {
  margin-top: 15px;
  color: $green;
  width: 515px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 5px;
}
#ads #title {
  padding-top: 65px;
  width: 540px;
  font-size: 30px;
}
#ads i {
  color: $green;
}
#map {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  border-radius: 5px;
}
