#products h1 {
  margin-top: 75px;
  color: $green;
  width: 420px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 5px;
}
#products i {
  color: $green;
}
