<div class="banner">
  <div class="banner-content">
    <h1>Phone<%= image_tag "smartphone.svg", height: 100 %>Mapper</h1>
    <div class="typewriter">
      <p>Find a phone near you</p>
    </div>
    <%= render 'shared/search' %>
    <div class="arrow">
      <a href="#ads">
        <%= image_tag "arrow.svg", height: 50, class: "floating arrow-img" %>
      </a>
    </div>
  </div>
</div>
