<!-- Navbar Phone Mapper -->
<div class="footer-fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
   <h1>© PhoneMapper 2018</i></h1>
  </div>
</div>
