<div class="navbar-phone">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-phone-logo" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
    <!-- Search form -->
    <%= render 'shared/search' %>
</div>
