<div class="navbar-phone">
  <!-- Logo -->
  <%= link_to image_tag("smartphone-green.svg", height: 60, width: 60), root_path, class:"navbar-phone-logo" %>
  <!-- Search form -->
  <%= render 'shared/navbarsearch' %>
</div>
