<div class="search-form">
  <span class="icon"><i class="fa fa-search"></i></span>
  <%= form_tag ads_index_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "What are you looking for?" %>
  <% end %>
</div>
