.card {
  height: 275px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 15px;
  border-radius: 4px;
  opacity: 1;
}
.card:hover {
  opacity: 0.4;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-content {
  position: absolute;
  bottom:20%;
  left: 10px;
  width: 70%;
}

.card-title {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
}

.card-time {
  display: flex;
  position: absolute;
  bottom: 0px;
  align-items: center;
  svg {
    margin-right: 9px;
    width: 25px;
  }
}

.card-price{
  background: #41998e;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
}

.card-source{
  background: #AEAEAE;
  padding: 5px 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.9;
}
