/* Main navbar */
.navbar-phone-white {
  height: $navbar-height;
  z-index: 1;
  padding: 0px 30px;
  position: sticky !important;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(left, #11998E, #38EF7D);
  transition: 0.2s background-color ease;
  .navbar-content {
    display: none;
  }
}
/* Search form */
.navbar-search-form {
  margin: auto;
  padding-top: auto;
}
/* Navbar search */
.navbar-phone-white {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white !important;
  color: $green;
  .navbar-content {
    position: absolute;
    padding-left: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-control {
    box-shadow: none;
    opacity: 0.7;
  }
  .navbar-search-icon {
    padding-top: auto;
    padding-right: 6px;
  }
  .navbar-phone-logo {
    display: flex;
  }
}
